<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Eleccion de Pelicula</title>
</head>
<body>
    <div class="single_column">
        <section id="original_header" class="images inner">
          <div class="poster_wrapper true">
            <div class="poster">
    
      <div class="image_content backdrop">
    
    
  
      </div>
    
      <!--<div class="zoom">
        <a href="#" class="no_click"><span class="glyphicons_v2 fullscreen white"></span> Expand</a>
      </div>-->
    
  </div>
  
            
              <div class="ott_offer">
    <div class="text_wrapper">
      <div class="loading_wrapper">
        <div class="ball-scale-multiple loader white">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
  
      <div class="button">
        <div class="provider">
          <img src="https://www.themoviedb.org/t/p/original/7rwgEs15tFwyR9NPQ5vpzxTj19Q.jpg" width="36" height="36" alt="Now Streaming on Disney Plus">
        </div>
        <div class="text">
          <span>
            <h4>Now Streaming</h4>
            <h3><a class="no_click" href="/movie/508947-turning-red/watch?language=es" title="Now Streaming on Disney Plus">Watch Now</a></h3>
          </span>
        </div>
      </div>
    </div>
  </div>
            
          </div>
  
          <div class="header_poster_wrapper true">
            <section class="header poster">
              <div class="title ott_true" dir="auto">
    
  
    
      <h2 class="3">
        <a href="/movie/508947-turning-red?language=es">Red</a>
         <span class="tag release_date">(2022)</span>
      </h2>
  
      
        <div class="facts">
    
  
    
      
        <span class="certification">
          PG
        </span>
      
  
      
        <span class="release">
          03/10/2022 (CZ)
        </span>
      
    
  
    
  
    <span class="genres">
      
        <a href="/genre/16-animacion/movie">Animación</a>,&nbsp;<a href="/genre/10751-familia/movie">Familia</a>,&nbsp;<a href="/genre/35-comedia/movie">Comedia</a>,&nbsp;<a href="/genre/14-fantasia/movie">Fantasía</a>
      
    </span>
  
    
      <span class="runtime">
        
          1h 40m
        
      </span>
    
  </div>
      
  
    
  </div>
  <ul class="auto actions">
    
  
    
      <li class="chart">
        <div class="consensus details">
          <div class="outer_ring">
            <div class="user_score_chart" data-percent="75.0" data-track-color="#204529" data-bar-color="#21d07a">
              <div class="percent">
                
                  <span class="icon icon-r75"></span>
                
              </div>
            <canvas height="60" width="60"></canvas></div>
          </div>
        </div>
        <div class="text">User<br>Score</div>
      </li>
    
  
    
      <li class="tooltip use_tooltip list tooltip_hover" title="Login to create and edit custom lists" data-role="tooltip">
        <a class="no_click" href="#"><span class="glyphicons_v2 thumbnails-list white"></span></a>
      </li>
    
    
      <li class="tooltip use_tooltip" title="Login to add this movie to your favorite list" data-role="tooltip">
        <a id="favourite" class="no_click add_to_account_list favourite" href="#"><span class="glyphicons_v2 heart white false"></span></a>
      </li>
    
    
      <li class="tooltip use_tooltip" title="Login to add this movie to your watchlist" data-role="tooltip">
        <a id="watchlist" class="no_click add_to_account_list watchlist" href="#"><span class="glyphicons_v2 bookmark white false"></span></a>
      </li>
    
    
      <li class="tooltip use_tooltip rating tooltip_hover" title="Login to rate this movie" data-role="tooltip">
        <a id="rate_it" class="no_click rating" href="#"><span class="glyphicons_v2 star white false"></span></a>
      </li>
    
  
    
      
        <li class="video none">
          <a class="no_click play_trailer" href="#" data-site="YouTube" data-id="3QoJsp-MKt0" data-title="Play Trailer"><span class="glyphicons_v2 play"></span> Play Trailer</a>
        </li>
      
    
  </ul>
  
              <div class="header_info">
                
                  <h3 class="tagline" dir="auto">Hacerse mayor puede ser bestial</h3>
                
                <h3 dir="auto">Overview</h3>
                <div class="overview" dir="auto">
                  
                    <p>Mei Lee, una niña de 13 años un poco rara pero segura de sí misma, se debate entre ser la hija obediente que su madre quiere que sea y el caos propio de la adolescencia. Ming, su protectora y ligeramente exigente madre, no se separa nunca de ella lo que es una situación poco deseable para una adolescente. Y por si los cambios en su vida y en su cuerpo no fueran suficientes, cada vez que se emociona demasiado (lo que le ocurre prácticamente todo el tiempo), se convierte en un panda rojo gigante.</p>
                  
                </div>
  
                <ol class="people no_image">
                  
                    
                      <li class="profile">
                        <p><a href="/person/2009739-domee-shi?language=es">Domee Shi</a></p>
                        <p class="character">Director, Screenplay, Story</p>
                      </li>
                    
                      <li class="profile">
                        <p><a href="/person/1226604-julia-cho?language=es">Julia Cho</a></p>
                        <p class="character">Screenplay, Story</p>
                      </li>
                    
                      <li class="profile">
                        <p><a href="/person/2862027-sarah-streicher?language=es">Sarah Streicher</a></p>
                        <p class="character">Story</p>
                      </li>
                    
                  
                </ol>
              </div>
            </section>
          </div>
        </section>
  
        <div id="ott_offers_window" class="hidden">
          
        </div>
  
      </div>
</body>
</html>
